# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code and editors
.vscode/
.idea/

# macOS
.DS_Store

# Data
data/
*.sqlite3

# Python packaging
build/
dist/
*.egg-info/

# Logs
logs/
*.log
